aeon
matplotlib
numpy
pandas
plotly
scikit-learn
scipy
sktime
streamlit
streamlit-extras
st-pages
torch
pytorch-lightning
torchviz
setuptools==65.5.0
ipykernel
nbformat
pre-commit
black
ruff
mypy
pip-tools
